body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

button {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #4CAF50;
  color: white;
  border: none;
}

/* Set the dimensions of the popup */
html {
  height: 100%;
}

body {
  min-width: 200px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}